body {
  background-color: rgb(202, 206, 214);
}
.todo-app {
  color: rgb(133, 112, 112);
  margin: 0 auto;
  width: 30%;
}

.todo-list {
  list-style-type: none;
}

.items button {
  margin-left: 10px;
}

.strikethrough-active {
  text-decoration: line-through;
}

.buttons-search {
  background-color: rgb(31, 192, 125);
  border: 1px solid rgb(212, 209, 209);
  margin-left: 5px;
}
